@import "tailwindcss";


@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.active{
  @apply text-orange-500 underline
}